.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #65ab65;
    padding: 20px 0;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 16px;
    padding-right: 16px;
    background-color: #65ab65;
}

.nav-link {
    text-decoration: none;
    color: white;
    background-color: #65ab65;
}

.page-header h1 {
    font-size: 36px;
    text-align: center;
    padding-left: 16px;
    color: white;
    background-color: #65ab65;
}
.main-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.recipes-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-size: 48px;
}

.search-bar {
    padding-top: 50px;
    text-align: center;
}

.search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 50%;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 18px;
}

.search-clear-all {
    width: 10%;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.search-bar .submit-btn {
    width: 10%;
    cursor: pointer;
}

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    display: none;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #65ab65;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    margin: 40px auto;
    grid-column: 1 / -1;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

.recipe-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: start;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}


.favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.title-wrapper h3 {
    font-size: 28px;
}

.meal-calendar {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 100px;
    gap: 0px;
}
.meal-calendar-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 50px;
    border: none;
    background-color: #65ab65;
}

.meal-calendar-button img {
    align-self: center;
    background: transparent;
    background-color: #65ab65;
}

.meal-calendar-button a {
    text-decoration: none;
    background-color: #65ab65;
}

.modal-container {
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modal-container.show-modal {
    display: block;
}

.modal, .confirm-modal {
    background: #98ecb4;
    display: block;
    border-radius: 5px;
    position: absolute;
    cursor: move;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px;
    z-index: 1100;
}

.modal-content {
    padding: 20px;
    background: transparent;
}

.modal-content h1 {
    background: transparent;
}

.modal-form {
    background: transparent;
}

.modal-form div {
    margin: 20px 0;
    background: transparent;
}

.modal-form label {
    display: block;
    margin-bottom: 6px;
    background: transparent;
}

.modal-form .form-input {
    padding: 8px;
    width: 100%;
}

.close-button {
    background: transparent;
    border: none;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
}

.modal-container .submit-button {
    padding: 10px 30px;
    font-weight: bold;
    background: #65ab65;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.add-plan-button {
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: #65ab65;
    border: none;
}
/* Meal Plan Calendar */

.meal-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.meal-plan-calendar-header {
    font-size: 48px;
    padding-bottom: 50px;
}

.calendar {
    border-spacing: 10px;
}

.calendar th {
    font-size: 24px;
    padding-bottom: 20px;
}

.calendar td {
    border: 1px solid lightgray;
    background-color: white;
}

.meal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: white;
    padding: 10px 30px;
    position: relative;
}

.favorite {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.heart-svg.favorited path {
    fill: red;
}

.meal button {
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}



.meal img {
    background-color: white;
}

.calendar-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 50px;
    padding-top: 20px;
}

.modal-recipe-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: start;
    overflow: scroll;
    max-height: 400px;
}

.modal-recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.add-meal-button {
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: #65ab65;
    border: none;
}

.modal-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}



.clear-all {
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
    font-size: 24px;
    cursor: pointer;
}

.generate-shopping-list {
    border-radius: 5px;
    font-size: 24px;
    background-color: #65ab65;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

/* Shopping List */

.shopping-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.shopping-list-header {
    font-size: 48px;
    padding-bottom: 50px;
}

.shopping-wrapper {
    border: 1px solid lightgray;
    width: 50%;

}
.shopping-list-ul {
    list-style: none;
    font-size: 50px;
}

.shopping-list .item {
    display: flex;
    gap: 16px;
}

.shopping-list .item input {
    width: 50px;
    height: 50px;
}

.shopping-list-actions {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.clear-list, .export-print {
    border-radius: 5px;
    font-size: 32px;
    background-color: #65ab65;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

/* Favorites */

.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.favorites-header {
    font-size: 48px;
    padding-bottom: 50px;
}

.favorite-recipe-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: start;
}

.favorite-recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

#success-toast-message, #clear-success-toast-message, 
#update-success-toast-message, #delete-success-toast-message, 
#generate-success-toast-message, #clear-list-success-toast-message {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #06c455; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

#success-toast-message.show, #clear-success-toast-message.show, 
#update-success-toast-message.show, #delete-success-toast-message.show, 
#generate-success-toast-message.show, #clear-list-success-toast-message.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#error-toast-message, #errorMessage {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #c40606; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

#error-toast-message.show, #errorMessage.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


